
    .car-cards img {
        width: 580px;
        height: 400px;
    }
    .car-cards1 img {
        width: 500px;
        height: 400px;
    }
    .car-cards3 img {
        width: 580px;
        height: 400px;
    }
    .car-cards4 img {
        width: 580px;
        height: 400px;
    }
    .car-cards5 img {
        width: 580px;
        height: 400px;
    }
    .car-cards6 img {
        width: 580px;
        height: 4
        00px;
    }
    .car-cards7 img {
        width: 580px;
        height: 400px;
    }
    .series.centered-button {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.series.centered-button h2 {
    margin: 0;
}
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 30%;
    text-align: center;
    color: #000000; 
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #000000; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}