
@import url(../fonts/font.css);

    .car-cards img {
        width: 580px;
        height: 400px;
    }
    .car-cards1 img {
        width: 400px;
        height: 500px;
    }
    .car-cards2 img {
        width: 500px;
        height: 500px;
    }
    .car-cards3 img {
        width: 400px;
        height: 500px;
    }
    .car-cards5 img {
        width: 580px;
        height: 400px;
    }
    .car-cards6 img {
        width: 580px;
        height: 4
        00px;
    }
    .car-cards7 img {
        width: 580px;
        height: 400px;
    }
    .series.centered-button {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.series.centered-button h2 {
    margin: 0;
}

  
  .close-button {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: rgb(73, 73, 73, 0);
    padding: 10px;
  }

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: rgb(73, 73, 73, 0.5);
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 30%;
    text-align: center;
    color: #000000; 
    position: relative; /* Add this */
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #000000; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
body { 
    background-image: url('/assets/imgs/fotka.jpg');
    background-size: cover; /* Масштабирование фонового изображения для заполнения всей области*/
    text-align: center; /* Центрирование текста по центру*/
    font-family: Arial, sans-serif; /* Установка шрифта для текста*/
}
.big_con {
    width: 1800px;
    margin: 0 auto;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    border: 1px solid #C78E66;
    height: 30px;
    margin: 0 20px;
}

.p14 {
    font-family: 'Tac', sans-serif;
    font-size: clamp(0.7rem, 0.35rem + 0.47vw, 0.875rem);
    font-weight: 400;
    color: white;
}
.orange:hover .p14{
    color: #C78E66;
}

.p16 {
    font-size: clamp(0.8rem, 0.4rem + 0.53vw, 1rem);
    font-weight: 400;
    color: white;
}

.requisites {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.opacity {
    position: relative; 
    background: none;
    border: none;
    cursor: pointer;
    width: 310px;
height: 40px;
display: flex;
justify-content: space-around;
align-items: center;
border: 1px solid white;
background-color: rgba(255, 255, 255, 0);
transition: all ease 0.3s;
cursor: pointer;
}
.p18 {
    font-size: clamp(1rem, 0.75rem + 0.33vw, 1.125rem);
    font-weight: 700;
    color: white;
}
.opacity:hover {
    background-color: #C78E66;
    border: 1px solid #C78E66;
}

.arrow svg {
    width: 9px;
    display: flex;
    justify-content: center;
    transition: all ease 0.3s;
}

.opacity:hover svg path {
    stroke: white;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover; 
    background-position: center; 
   
}

.back_img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.content {
    position: relative; 
    z-index: 1;
     
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}